@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
  background-color: rgb(246, 246, 246);
  font-family: 'Poppins', sans-serif;
}

#main-container {
  width: 45%;
  padding: 20px 5%;
  overflow: hidden;
  cursor: pointer;
  transition: padding 300ms ease-in-out, max-height 500ms ease-in-out;
  transform: translate3d(0, 0, 0);
  background-color: rgb(246, 246, 246);
  margin: 150px auto;
}

.selected-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  border-radius: 3px;
}

#stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#stats h2 {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
}

.refresh span {
  padding: 1rem;
}

#add-item {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#add-item div {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px;
  text-decoration: none;
}

#add-item div form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#new-item {
  font-size: 1rem;
  font-style: italic;
  border: 0;
  outline: none;
}

#enter-button {
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

#item-list {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  margin: 0;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#item-list .todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.task {
  width: 80%;
  height: 50px;
  font-size: 1rem;
  text-align: left;
  border: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.checked {
  text-decoration: line-through;
}

.drag {
  border: 0;
  cursor: move;
  background-color: #fff;
  position: absolute;
  right: 70px;
  margin-right: 45px;
}

.clear-button {
  width: 100%;
  padding: 20px;
  margin: 0;
  border: 0;
  font-size: 1rem;
  background-color: rgb(246, 246, 246);
}

.settings {
  display: flex;
  gap: 10px;
  border: 0;
  background-color: #fff;
  right: 70px;
  height: 18px;
  margin-right: 20px;
}

.task-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 70px;
  right: -5px;
  background: #fff;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  padding: 8px;
}

.task-menu.show {
  transform: scale(1);
}

.task-menu li {
  display: flex;
  height: 25px;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
}

.settings li:hover {
  background: #f5f5f5;
}

.settings li i {
  padding-right: 8px;
}

#delete {
  padding: 8px;
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
